<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="Human_ResourcesBinding" maxReceivedMessageSize="500000">
          <security mode="Transport"></security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint
        contract="WorkDayService.StaffingPort"
        name="WorkDayService"
        binding="basicHttpsBinding"
        bindingConfiguration="Human_ResourcesBinding"
        address="https://demo2335464.mockable.io/mockStaffing"
        />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SoapEndpointWithNoData" value="https://demo2335464.mockable.io/mockStaffingNoResponse"/>
  </appSettings>
</configuration>
